.movie-card {
  position: relative;
  width: 220px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05); /* 카드 크기 확대 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* 카드 그림자 */
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.movie-card:hover img {
  opacity: 0.8; /* 이미지에 호버 시 투명도 조절 */
}
