.movie-card {
  position: relative;
  width: 220px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05); /* 카드 크기 확대 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* 카드 그림자 */
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.movie-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card p {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin: 0;
}

.movie-card .movie-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 3px;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card .release-date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #b3b3b3;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px 8px;
  border-radius: 3px;
}

.movie-card:hover img {
  opacity: 0.8; /* 이미지에 호버 시 투명도 조절 */
}
