/* 팝업 배경 */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* 팝업 내용 */
.popup-content {
  background-color: #141414;
  width: 100%;
  max-width: 400px; /* 최대 너비 설정 */
  padding: 30px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* 제목 스타일 */
.popup-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* 입력 필드 스타일 */
.popup-content input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

/* 로그인 유지 체크박스 */
.popup-content label {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
  display: inline-flex; /* 가로 정렬을 위해 flex 사용 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.popup-content input[type="checkbox"] {
  margin-right: 5px;
}

/* 버튼 스타일 */
.popup-content button {
  background-color: red;
  border: none;
  color: white;
  padding: 12px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #e50914;
}

/* 계정이 없나요? 로그인 버튼 */
.popup-content button:last-child {
  background-color: transparent;
  color: #bbb;
  border: 1px solid #bbb;
  font-size: 14px;
  margin-top: 5px;
}

/* 회원가입 페이지로 이동 버튼 */
.signUp-btn {
  background-color: #0071eb;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.signUp-btn:hover {
  background-color: #0061c1;
}
