/* HomePage.css 수정 */
.home-page {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  padding-top: 80px; /* 헤더의 높이만큼 여백을 추가 */
}

.home-page h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* 기존 스타일 유지 */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.movie-card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 모바일 화면에서 movie-list 수정 */
@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .home-page h1 {
    font-size: 2rem;
  }
}
