* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff; /* 기본 텍스트 색상을 흰색으로 설정 */
  font-family: Arial, sans-serif;
  height: 100vh;
}

html,
body {
  height: 100%; /* 전체 높이를 100%로 설정 */
  display: flex;
  flex-direction: column;
}
