.home-wishlist-container {
  padding: 20px;
  background-color: #f8f8f8;
}

.movie-wishlist {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-wishlist h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
